# Dependencies
node_modules/

# Production & build output
dist/
build/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment files
.env
.env.*
!.env.example

# Tests & coverage
coverage/

# Editor/system files
.DS_Store
.idea/
.vscode/

# Misc caches & temp
*.local
*.cache
*.swp